<section class="footer">
  <div class="container ">
    <div class="row footer-me ">
      <div class=" col-lg-4  col-md-4 mt-5">
        <h3 class="fs-3 pb-2">LOCATION</h3>
        <p class=" pb-2">2215 John Daniel Drive </p>
        <p>Clark, MO 65243</p>
      </div>
      <div class=" mt-5 col-lg-4  col-md-4 ">
        <h3 class="fs-3 pb-2">AROUND THE WEB</h3>
        <ul>
          <li class="d-inline p-2  border rounded-circle">
            <a href="">
              <i class="fa-brands fa-facebook"></i>
            </a>
          </li>
          <li class="d-inline p-2 m-1 border rounded-circle">
            <a href="">
              <i class="fa-brands fa-twitter"></i>
            </a>
          </li>
          <li class="d-inline p-2  m-1 border rounded-circle">
            <a href="">
              <i class="fa-brands fa-linkedin-in"></i>
            </a>
          </li>
          <li class="d-inline p-2 m-1 border rounded-circle">
            <a class="rounded-circle border-solid" href="">
              <i class="fa-solid fa-globe"></i>
            </a>
          </li>
        </ul>

      </div>
      <div class=" mt-5 col-lg-4 col-md-4 ">
        <h3 class="fs-3 pb-2">ABOUT FREELANCER</h3>
        <p class=" pb-2">Freelance is a free to use, licensed Bootstrap theme created by Route </p>


      </div>
    </div>
  </div>
</section>
<section class="footer2">
  <span class="text-white d-flex justify-center">Copyright © Your Website 2021</span>
</section>