<section class="about  d-grid ">
  <div class="text-light d-grid m-auto ">
    <h2 class=" fs-1 fw-bold pt-5">ABOUT COMPONENT </h2>
  </div>
  <div class="container">
    <div class="row ">
      <div class="col-lg-6 col-md-12 text-light  ">
        <p>
          Freelancer is a free bootstrap theme created by Route. The download includes the complete source files
          including
          HTML, CSS, and JavaScript as well as optional SASS stylesheets for easy customization.</p>
      </div>
      <div class="col-lg-6 col-md-12  text-light">
        <p>Freelancer is a free bootstrap theme created by Route. The download includes the complete source files
          including HTML, CSS, and JavaScript as well as optional SASS stylesheets for easy customization.</p>
      </div>
    </div>
  </div>

</section>
