<div class="fs-1 fw-bold  text-center">
  <h2>CONTACT SECTION</h2>
</div>
<span class="text-light d-flex justify-content-center pt-=2">
  <i class="fa-solid fa-star"></i>
</span>
<form class="mx-auto w-50   p-3">
  <input type="text" id="username" placeholder="userName" name="userName"
    class="form-control border-0 border-bottom py-3 mb-4">
  <input type="text" id="userage" placeholder="userAge" name="userage"
    class="form-control border-0 border-bottom py-3 mb-4">
  <input type="text" id="useemail" placeholder="userEmail" name="useemail"
    class="form-control border-0 border-bottom py-3 mb-4">
  <input type="text" id="userpassword" placeholder="userPassword" name="userpassword"
    class="form-control border-0 border-bottom py-3 mb-4">
  <div class="text-start">
    <button class="btn"> Send Message</button>
  </div>
</form>
